/* --------------------------------Custom CSS */

:root {
    --yellow: #FAF6E2;
    --red_normal: #802840;
    --red_hover: #FF255B;
    --red_active: #721120;
    --dark_brown: #311B00;
    --light_brown: rgba(98, 51, 0, 0.73);
    --white: #fff;
    --black: #000;
    --black_clear: rgba(0, 0, 0, 0.14);
    --orange: #ECAA62;
    --orange_hover: #F4B36C;
}

.button-type-1 {
    margin: 30px;
    border: 2px solid var(--black);
    border-radius: 25px;
    background-color: var(--red_normal);
    filter: drop-shadow(1px 1px 0px var(--black));
    box-shadow: inset var(--black) -3px -3px 8px 0px;
    padding: 0 10px;
    transition: all .3s ease-in-out;
    display: flex;
    width: 300px;
}

.button-type-1 a {
    color: var(--yellow);
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 3rem;
    width: fit-content;
    transition: all .3s ease-in-out;
    margin: 0 auto;
    letter-spacing: 2px;
}

.button-type-1:hover {
    background-color: var(--red_hover);
    transition: all .3s ease;
    filter: drop-shadow(1px 1px 0px var(--black)) drop-shadow(0px 0px 6px var(--red_hover));
}

.button-type-1:hover a {
    letter-spacing: 4px;
    transition: all .3s ease;
}

.button-type-1:avtive {
    background-color: var(--red_active);
}

.button-type-2 {
    margin: 30px;
    border: 2px solid var(--orange);
    border-radius: 25px;
    background-color: var(--black_clear);
    padding: 0 10px;
    transition: all .3s ease-in-out;
    display: flex;
    width: 300px;
}

.button-type-2 a {
    color: var(--orange);
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 3rem;
    width: fit-content;
    transition: all .3s ease-in-out;
    margin: 0 auto;
    letter-spacing: 2px;
}


.button-type-2:hover {
    background-color: var(--orange);
    transition: all .3s ease;
    filter: drop-shadow(0px 0px 6px var(--orange_hover));
}

.button-type-2:hover a {
    color: var(--yellow_);
    letter-spacing: 4px;
    transition: all .3s ease;
}

.button-type-2:avtive {
    background-color: var(--red_active);
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--yellow);
}

.highlight-sm {
    font-family: "Roboto Serif", serif;
    font-style: italic;
    font-size: 1.05rem;
    line-height: 1.5rem;
}

.highlight-m {
    font-family: "Roboto Serif", serif;
    font-style: italic;
    font-size: 1.56rem;
    line-height: 3rem;
}

.above-fold {
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--black), var(--dark_brown));
}

.wood-bg-text {
    background-image: url('../img/wood-bg.webp');
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 3.05rem;
    line-height: 3.05rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    letter-spacing: -4%;
}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: transparent;
    text-shadow: 2px 1px 2px white, 0 0 3px red, 0px 0px 0px white;
}


/* ----------------------- End Of Custom CSS  */
.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.site-branding img {
    max-width: 500px;
    max-height: 50px;
}

.main-navigation {
    display: flex;
    justify-content: end;
}


.main-navigation li {
    margin-right: 20px;
}

.main-navigation li:last-child {
    margin-right: 0px;
}

.main-navigation li a {
    text-decoration: none;
}

.banner {
    background-color: #000;
    color: #fff;
    padding-top: 5rem;
}

.banner-logo {
    text-align: center;
}

.banner-logo a:last-of-type,
.banner-aboutme a,
.wording a {
    text-decoration: none;
    color: #a63446;
    border: #a63446 solid 2px;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    text-align: center;
}

.banner-logo a:last-of-type:hover,
.banner-aboutme a:hover,
.wording a {
    color: #d58936;
    border: #d58936 solid 2px;
}

.shadow {
    box-shadow: inset #a63446 0px 0px 10px 0px, inset #a63446 0px 0px 10px 0px, inset #a63446 0px 0px 36px -24px;
}

.shadow:hover {
    box-shadow: inset #d58936 0px 0px 25px 0px, inset #d58936 0px 0px 25px 0px, inset #d58936 0px 0px 36px -24px;
}

.banner-aboutme {
    padding: 1rem;
    margin: 2rem;
    border: #fff solid 1px;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}

.banner-aboutme div {
    text-align: center;
}

.banner-aboutme a {
    padding: 0.5rem 7rem;
    width: 50%;
}

.flex {
    display: flex;
    position: relative;
}

.wording p {
    display: grid;
    place-content: center;
}

.wording div {
    display: flex;
    justify-content: end;
}

.flex a {
    width: 50%;
}

.featured-image {
    width: 500px;
    height: auto;
}

.featured-image div {
    width: 500px;
    height: 172px;
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 275px;
    opacity: 0.5;
}